pytest
pytest-html
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
transformers
torch
openai
deepseek
python-dotenv
pandas
numpy
ragas
eval_type_backport
faiss-cpu
easyocr