# 测试框架
pytest
pytest-html

# LangChain 核心
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface  # 这次必加！

# 向量模型 / 嵌入
sentence-transformers

# 大模型
openai
deepseek
python-dotenv

# 数据处理
pandas
numpy

# 评估
ragas
evaluate

# 兼容修复
eval_type_backport
typing-extensions